{% extends "base.html" %}
{% block content %}
<section id="events">
  <h2>Upcoming Events</h2>
  <div class="event-grid">
    {% for event in events %}
    <div class="event">
      <img src="/static/images/{{ event.image }}" alt="{{ event.name }}">
      <div class="event-details">
        <p><strong>Name:</strong> {{ event.name }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p><strong>Price:</strong> {{ event.price }}</p>
        <a href="{{ url_for('register') }}" class="register-button">Register</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
